body {
  margin: 0%;
  padding: 0%;
  text-align: center;
  background-color: rgb(16, 151, 204);
  color: white;
}

nav {
  width: 100%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  padding: 0%;
  margin: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-right: 2rem;
}

nav h1 {
  color: rgb(16, 151, 204);
  margin-top: 6px;
  margin-right: auto;
  margin-left: 2rem;
}

nav ul li {
  list-style-type: none;
  margin-top: 9px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(16, 151, 204);
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

section {
  margin-left: 25%;
  margin-right: 25%;
}

.Proj1{
  width: 50%;
}
